*{
  padding: 0%;
  margin: 0%;
  line-height: 1.9;
  font-size: 14px;
  color: #888;
}

.header1 {
position: relative;
max-width: 960px;
height: 300px;
margin: 0 auto;
}

.header1 h1 {
  position: absolute;
  top: 80px;
  left: 50px;
  margin: 0;
  padding-left: 0;
  text-align: center;
}

.header1 nav {
  position: absolute;
  bottom: 30px;
  right: 30px;
  margin-bottom: 0;
  border-top: none;
}

.header1 nav  li {
  margin-left: 50px;
  display: inline;
  float: none;
  border-bottom: none;
  text-align: right;
  list-style: none;
}

header i{
  display: inline;
}

a{
  text-decoration: none;
  color: #333;
}

.header2{
  height: 400px;
  margin: 0 auto;
}

.header2 nav{
  width: 100%;
  list-style: none;
  line-height: 50px;
  height: auto;
}

.header2 nav ul{
  padding: 0%;
  text-align: center;
}

.header2 nav li{
  width: 40%;
  display: inline-block;
  border-bottom: 1px solid #d9d9d9;
  border-right:  1px solid #d9d9d9;
  text-align: center;
  list-style: none;
  line-height: 50px;
}

.social-btn1{
  position: absolute;
  top: 112px;
  right: 30px;
}

.social-btn1 li {
  display: inline;
  margin-right: 12px;
  list-style: none;
}

.social-btn2 ul{
  text-align: center;
}

.social-btn2 li {
  display: inline;
  list-style: none;
  margin: 50px 10px;
}


/* main */
 main img{
    max-width: 70%;
    display: block;
    margin: auto;
  }

  .service h2{
    text-align: center;
    margin: 100px auto;
    font-family: 'Carattere', cursive;
    font-size: 50px;
    color: #666;
  }
  

  main .col-md-4{
    align-items: center;
    padding: 0 20px;
    margin-bottom: 40px;
  }

  main h3, h6, i{
    text-align: center;
    width: 100%;
  }

    main h6{
      color: #999;}

  main i{
    margin: 30px auto;
  }

  .works h2{
    text-align: center;
    margin: 100px auto;
    font-family: 'Carattere', cursive;
    font-size: 50px;
    color: #666;
  }

  .works img{
    width: 100vw;
  }

  .works .col-md-6{
    padding: 30px 0;
    text-align: center;
  }

  .work p{
    text-align: center;
    color: #888;
  }

  footer{
    margin-top: 100px ;
    height: 100px;
    position: relative;
  }

  footer nav{
    right: 0px;
    top: 10px;
  }

   footer p{
    /* width: 100%; */
    position: absolute;
    bottom: 3px;
    right: 0%;
    display: block;
    text-align: right;
  }

  footer nav  li {
    margin-left: 50px;
    display: inline;
    float: none;
    border-bottom: none;
    text-align: right;
    list-style: none;
  }
  